{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Me</h5>
    <div class="card-body">
        <p class="card-text">Hi :) , I am Sayali Kumbhar, I have made this simple website using django, want to know more about me?</p>
        <a href="https://www.linkedin.com/in/sayali-kumbhar/"
           class="btn btn-click">Connect with me on LinkedIn!</a>
    </div>
</div>
</div>

{% endblock sidebar %}
